{% extends "base.html" %}

{% block content %}

<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="static/images/slider-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Restaurant App</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view  <br> 
                        trends to see any changes in performance over time.</p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'auth_sys:register' %}">Register</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="static/images/slider-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Restaurant App</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view  <br> 
                        trends to see any changes in performance over time.</p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'auth_sys:register' %}">Register</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="static/images/rusplane01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br>Restaurant App</strong></h1>
                        <p class="m-b-40">More interesting you can see on my GitHub</p>
                        <p><a class="btn btn-success" href="#">https://github.com/rusplane01</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->

<div class="menu-box">
    <div class="container">
        <div class="col-lg-12">
            <div class="heading-title text-center">
                <h2>Restaurant list</h2>
            </div>
        </div>
        <div class="row">
            {% for restaurant in restaurants %}
            <div class="card" style="width: 18rem;">
                <img src="{{ restaurant.image.url }}" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">{{restaurant.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'main:restaurant_detail' restaurant.pk %}" class="btn btn-primary">details</a>
                <!-- <a href="{% url 'main:menu_list' restaurant.pk %}" class="btn btn-primary">menu</a> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



<div class="customer-reviews-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Customer Reviews</h2>
                    <p>The person who created this website</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <div id="reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner mt-4">
                        <div class="carousel-item text-center active">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="static/images/rusplane01.jpg" alt="">
                            </div>
                            <h2 class="mt-4 mb-0">Rusplane01</h2>
                            <h6 class="text-dark m-0">Web Developer</h6>
                            <p class="m-0 pt-3">Real name: Ruslan. age: 16 years old.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Customer Reviews -->

            

{% endblock %}